@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #0f172a;
  --card-bg: rgba(30, 41, 59, 0.7);
  --accent-color: #8b5cf6;
  --accent-glow: rgba(139, 92, 246, 0.5);
  --text-main: #f8fafc;
  --text-dim: #94a3b8;
  --danger: #ef4444;
  --success: #10b981;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.container {
  width: 450px;
  background: var(--card-bg);
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

h2{
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-main);
  letter-spacing: 1px;
}

.container h2 i{
  color: #fbbf24;
  margin-left: 8px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: var(--bg-color);
  color: var(--text-main);
  transition: box-shadow 0.3s ease;
}

.input-wrapper input:focus{
  box-shadow: 0 0 10px 1px var(--accent-color);
  border: 1px solid var(--accent-color);
}

.input-wrapper i{
  position: absolute;
  color: var(--text-main);
  background: var(--accent-color);
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.input-wrapper i:hover {
  box-shadow: 0 0px 15px var(--accent-glow);
}

.task-list li{
  list-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.btns {
  display: flex;
  gap: 15px;
  color: var(--text-dim);
}

.btns i{
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.btns i:nth-child(1):hover {
  color: var(--success);
}

.btns i:nth-child(2):hover {
  color: var(--danger);
}